* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 215, 0);
    font-family: 'Tilt Warp', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 20px;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}

header button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.about-content1,
.about-content2 {
    margin-left: 25%;
    margin-right: 25%;
}


.about2 {
    background-size: cover;
    background-image: url("../assets/about/luigi-boccardo.jpg");
    background-position: 50% 50%;
    height: 100vh;
    margin-top: 20px;
}